.socials-list {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  display: flex;

  list-style: none;
}

.socials-list__item {
  margin-right: 10px;

  width: 24px;
  height: 24px;

  &--twitter {
    padding-left: 1px;
  }
}
