.warning-alert {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 15px auto;
  padding: 5px 10px;
  padding-right: 30px;
  max-width: 540px;

  color: #664d03;
  font-size: 18px;
  line-height: 1.5em;

  background-color: #fff3cd;
  border-radius: 5px;
  border: 1px solid #ffecb5;
}

.warning-alert button {
  position: absolute;
  top: 6px;
  right: 5px;

  padding: 0;
  width: 20px;
  height: 20px;

  color: #000000;
  font-size: 12px;
  line-height: 1.5em;

  background-color: transparent;
  border: 0;
  opacity: 0.75;
}

.warning-alert button:focus,
.warning-alert button:hover {
  opacity: 1;
}

.warning-alert button:active {
  opacity: 0.3;
}

.warning-alert--hidden,
.warning-alert--nojs button {
  display: none;
}
