$font-stack: "Roboto", "Arial", sans-serif;

$basic-black-color: #1d1d1d;
$basic-dark-grey-color: #626262;
$basic-grey-color: #e0e0e0;
$basic-white-color: #ffffff;

$border-grey-color: rgba(117, 117, 117, 0.3);
$shadow-grey-color: rgba(38, 38, 38, 0.16);

$max-container-desktop: 978px;

$tablet-width-only: 977px;
$mobile-width-only: 767px;
$mobile-width: 320px;
