$font-stack: "Roboto", "Arial", sans-serif;

$basic-black-color: #1d1d1d;
$basic-extra-dark-grey-color: #262626;
$basic-dark-grey-color: #626262;
$basic-grey-color: #e0e0e0;
$basic-white-color: #ffffff;
$basic-green-color: #49a144;

$button-green-color: #59bd5a;
$border-black-color: #3b3b3b;
$border-white-color: rgba(255, 255, 255, 0.4);
$border-grey-color: rgba(117, 117, 117, 0.3);
$shadow-grey-color: rgba(38, 38, 38, 0.16);

$max-container-desktop: 978px;

$tablet-width-only: 977px;
$mobile-width-only: 767px;
$mobile-width: 320px;
